
$offset: 187;
$duration: 1.4s;
$loading-1: red;
$loading-2: green;
$loading-3: yellow;
$loading-4: blue;


@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
  0% { stroke: $loading-1; }
  33% { stroke: $loading-2; }
  66% { stroke: $loading-3; }
  100% { stroke: $loading-4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

.loading-indicator {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  

  .spinner {
    animation: rotator $duration linear infinite;
    z-index: 999999999999;
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite, colors ($duration*4) ease-in-out infinite;
  }
}

.application-loader {
  position: absolute;
  top: 0;
  left: 0;
   right: 0;
   bottom: 0;
   background: rgba(255,255,255,0.9);
}

.liquid-loader, .liquid-loader .liquid-child {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}