<nav class="container-box-header">  
  <div class="nav-wrapper">
    {{#link-to "create.crop" class="left"}}<i class="mdi-navigation-chevron-left"></i>{{/link-to}}
    <h2 class="brand-logo center">Choose a scene</h2>
    {{#link-to "watch" scene imageName class="btn btn-primary"}}Finish{{/link-to}}
  </div>
</nav>

<div class="scene-selection">
  <div class="scene-options">
    {{#link-to (query-params scene="outer-space")}}
      {{decent-player scene="outer-space" image=model.url playable=false previewHover=true}}
    {{/link-to}}
    {{#link-to (query-params scene="outlaw-on-skis")}}
      {{decent-player scene="outlaw-on-skis" image=model.url playable=false previewHover=true}}
    {{/link-to}}
    {{#link-to (query-params scene="twerkmobile")}}
      {{decent-player scene="twerkmobile" image=model.url playable=false previewHover=true}}
    {{/link-to}}
    {{#link-to (query-params scene="welcome-to-hell")}}
      {{decent-player scene="welcome-to-hell" image=model.url playable=false previewHover=true}}
    {{/link-to}}
  </div>
</div>