<div class="header">
  <div class="container">
    {{#link-to "index" class="mad-decent-brand"}}<img src="/images/mad-decent-logo.svg">{{/link-to}}

    <h1><small>Twerk it out with a very, very</small> <strong>#Decent</strong>xmas</h1>
  </div>
</div>

<div class="container container-box">{{outlet}}</div>

<div class="container album-ad">
  <a href="http://smarturl.it/VERYVERYDECENTXMAS" target="_blank"><img src="/images/banner.jpg"></a>
</div>

{{#if isLoading}}<div class="application-loader">{{partial "loading"}}</div>{{/if}}