<h1 class="green-text">Your video will be ready soon!</h1>
<h3>Your video will start generating on our server within the next few minutes, and you can expect to receive your downloadable (and decent!) video soon!</h3>
<button class="btn modal-close">Done</button>
