<div class="home-container">
<div class="vertical-center">
  <h2>Decent Greetings!</h2>
  <h3>Create your own decent christmas video featuring music from<br> A Very, Very Decent Christmas Compilation out now!</h3>
  <button class="btn btn-primary waves-light" {{action "pickImage"}}>Choose an Image</button>
</div>
</div>
