
<div class="vertical-center">
  <h2>Some text here.</h2>
  <h3>Maybe some longer text here, what do you think?</h3>
  <button class="btn btn-primary waves-light" {{action "pickImage"}}>Choose an Image</button>
</div>
