<div class="video-box">
  {{#if location}}
    {{video-player url=s3Url poster=poster}}
  {{else}}
    <div class="watch-preview">{{decent-player scene=params.scene image=overlayUrl}}</div>
  {{/if}}
</div>